/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:41:42 PM
    Author     : JIAQI ZHANG
*/

#content 
{
	position:absolute;
	top: 150px;
	width: 60%;
	left: 20%;
	right: 20%;
	/* margin-left: 20%; */
	/* margin-right: 20%; */
	text-align:left;
}

#navbar 
{
	position:absolute	;
	width:100%;
	height:45px;
	top:0px;
	text-align: center;
}

#banner 
{
	position:absolute;
	width:100%;
	height:80px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	top:50px;
}

a.nav, a.open_nav {
	position:relative;
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}

img#ePortfolio {
    margin-left: 15%;
    margin-right: 20%;
}