/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:41:42 PM
    Author     : JIAQI ZHANG
*/

#content 
{
	position:absolute;
	top: 300px;
	width: 50%;
	left: 25%;
	right: 25%;
	text-align:left;
	padding-left: 10px;
}

p#intro {
    margin-right: 50px;
    /* padding-right: 10px; */
    float: left;
    width: 50%;
}

#navbar 
{
	position:absolute	;
	width: 50%;
	height:45px;
	top:250px;
	left: 25%;
	right: 25%;
	text-align: center;
}

#banner 
{
	position:absolute;
	width: 50%;
	height:150px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:0px;
	margin-bottom:0px;
	top:100px;
	left: 25%;
	right: 25%;
}

a.nav, a.open_nav {
	position:relative;
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}

#fuckthis {
    size: 50%;
    width: 40%;
    height: auto;
    float: left;
}
