/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:41:42 PM
    Author     : JIAQI ZHANG
*/

#content 
{
	position:absolute;
	top: 100px;
	width: 40%;
	left: 30%;
	text-align:left;
	/* margin-left:10px; */
	/* margin-top:10px; */
	bottom: 0;
	/* padding-left: 20px; */
	/* padding-right: 20px; */
}

ul.courses_list {
    padding-bottom: 30px;
}


#navbar 
{
	position:absolute	;
	width: 10%;
	height: 100%;
	left: 70%;
	top: 0px;
	text-align: center;
	margin-top: auto;
}

#banner 
{
	position:absolute;
	width: 40%;
	height:95px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	top: 0px;
	left: 30%;
}

a.nav, a.open_nav {
	position:relative;
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
	margin-top:20px;
}

h1,h2,h3,h4,h5,h6,p {
	margin-left: 20px;
	margin-right: 20px;
}

#slideshow_title, #slide_img, #slide_caption, #slideshow_controls {
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* width:80%; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

img#slide_img {
    /* width: 80%; */
    /* height: auto; */
    /* text-align: center; */
    margin-left: 10%;
}

#slideshow_title {

    /* height:80px; */
    /* background-color:rgb(105, 90, 195); */
    font-size: 24pt;
    text-align: center;font-weight: bold;
}



#slide_caption {
    font-size:24pt;
    text-align:center;
}

#slideshow_controls {
    text-align:center;
    /* background-color:rgb(150,190,250); */
}