/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:41:42 PM
    Author     : JIAQI ZHANG
*/

#content 
{
	position:absolute;
	top: 15%;
	width: 50%;
	height: 75%;
	left: 25%;
	right: 25%;
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}

video {
    width: 500px;
    margin-left: 25%;
}



#navbar 
{
	position:absolute	;
	width:100%;
	height:45px;
	/* top:250px; */
	bottom: 5%;
	text-align: center;
}

#banner 
{
	position:absolute;
	width:100%;
	/* height: 10%; */
	text-align:center;
	padding-top:10px;
	padding-bottom: 5px;
	margin-top:0px;
	margin-bottom:0px;
	top: 5%;
}

a.nav, a.open_nav {
	position:relative;
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left: 20px;
	padding-right:20px;
	padding-top:5px;
	width: 100px;
}