/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:41:08 PM
    Author     : JIAQI ZHANG
*/

@import url(https://fonts.googleapis.com/css?family=Exo);

body {
	background-color: #eeeeee;
	font-family: 'Exo', sans-serif;
}

p,li{
	font-size:13pt;
	COLOR: black;
}

h1,h2,h3,h4,h5,h6,p {
	color: #000000;
}

#navbar {
	background-color: #820808;
	margin-top:5px;
}

#banner {
	font-size:24pt;
	color: #eeeeee;
	background-color: #B70101;
}

#content {
	
}

a.nav {
	color: #FFFFFF;
	font-size:13pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}