/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:41:08 PM
    Author     : JIAQI ZHANG
*/

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	background-color: rgb(88, 150, 103);
	font-family: 'Indie Flower', cursive;
}

p,li{
	font-size: 14pt;
}

h1,h2,h3,h4,h5,h6,p {
	color: #000000;
}

#navbar {
	background-color: #2DD04E;
	margin-top:5px;
}

#banner {
	font-size:36pt;
	font-weight:bold;
	color: #000000;
	background-color: #456D33;
}

#desc {
	background-color:#ffffff;
	color:#000000;
}

a.nav {
	color: #000000;
	font-size:15pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}