/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:41:08 PM
    Author     : JIAQI ZHANG
*/

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
	background-color: rgb(31, 34, 37);
	font-family: 'Poiret One', cursive;
}

p,li{
	font-size:14pt;
}

h1,h2,h3,h4,h5,h6,p {
	color:#eeeeee
}

#navbar {
	background-color:#000000;
	margin-top:5px;
}

#banner {
	font-size:24pt;
	color:#ffffff;
	background-color:#555555;
}

#desc {
	background-color:#ffffff;
	color:#000000;
}

a.nav {
	color:#ffffff;
	font-size:13pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}